/* Home.js */
.cards{
  float: inline-start;
}


.cards:hover{
  box-shadow:  2px -2px 2px 6px rgb(255, 255, 255);
  transition-duration: 0.5s;
}





/* App.js */
h1{
  color: black;
  font-weight: 700;
  letter-spacing:3px; 
  text-decoration:underline;
  text-underline-offset: 8px;
}